*
!.gitignore
!nginx
!nginx/config
!nginx/config/*
!nginx/logs
!nginx/logs/.gitkeep
!mysql
!mysql/data
!mysql/data/.gitkeep
!mysql/config
!mysql/config/my.cnf
!mysql/logs
!mysql/logs/.gitkeep
!php
!php/config
!php/config/*
!.env.sample
!docker-compose.yml
